@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'Android';
   src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

:root {
 --cor1: #04BFAD;
 --cor2: #038C7F;
 --cor3: #025951;
 --cor4: #003B3C;

 --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
 --fonte-destaque: 'Bebas Neue';
 --fonte-android: 'Android';
}

* {
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #51b8ad;
    font-family: var(--fonte-destaque);
}

a.externo::after {
    content: '\00A0\1f517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-size: 3em;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.658);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    margin: auto;
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 600px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
}
   
}

nav {
    background-color: #127e7e;
    padding: 10px;
    box-shadow: 0px 7px 9px black;
    
}

nav > a {
    color: #003B3C;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: #038C7F;
    color: white;
    border-radius: 7px;

}

main {

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #e5f1f06c;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main  h1 {
   
    color: #0127278e;
   font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    color: #022925c0;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: #074e47;
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: #003B3C;
    background-color: #04BFAD;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: #b80a0a;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    margin: auto;
    display: block;
}

div.video {
    background-color: #003B3C;
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {

    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    right: 90%;
}
aside {
    background-color: #025951;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.507);
    

}

aside > h3 {
    font-family: var(--fonte-padrao);
    background-color: #038C7F;
    color: white;
    text-align: center;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}
footer {
    background-color: #034747;
    color: rgb(14, 12, 12);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #0af9fd;
}
